.content-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start; 
    justify-content: flex-start;
    max-width: 100%;
    color: white;
    gap: 1rem;
    padding: 20px
}

/* .content-container h1,
.content-container p {
  margin-top: 0;
} */
.content-container img,
.content-container .text-content {
    margin: 0;
    padding: 0;
    align-self: flex-start; 
}

.content-container img {
    width: 50%;
    height: 50%;
    border-radius: 10px;
}

.text-content h1 {
    font-size: 1.5rem;
    padding-top: 0px;
}

.text-content p {
    font-size: 1rem;
    text-align: center;
}

@media (max-height: 768px) {
    .text-content p {
        text-align: left;
    }
}